
.buttonLogin {
    background-color: #29d868;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

    .buttonLogin:hover {
        background-color: #3e8e41;
    }

.popupOverlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.popupPanel {
    width: 800px;
    height: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 10001;
}

.frmStyle {
    width: 100%;
    height: 72vh;
}

.lblTotal {
    padding-top : 10px;
    text-align: right;
    border-top: 1px solid #808080
}
